<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:component-scan base-package="leon.ssi.**.*"></context:component-scan>
	<!--设置解密后置处理器-->
	<bean id="environmentVariablesConfiguration" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig"
			p:algorithm="PBEWithMD5AndDES" p:passwordEnvName="APP_ENCRYPTION_PASSWORD" />
	 
	<bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor" p:config-ref="environmentVariablesConfiguration" />
	
	<bean id="propertyConfigurer" class="org.jasypt.spring.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="configurationEncryptor" />
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	 
	<bean id="commonsConfigurationFactoryBean" class="leon.ssi.util.CommonsConfigurationFactoryBean"
		p:encryptor-ref="configurationEncryptor" p:systemPropertiesModeName="SYSTEM_PROPERTIES_MODE_OVERRIDE"> 
		<constructor-arg>
			<bean class="org.apache.commons.configuration.PropertiesConfiguration">
				<constructor-arg value="jdbc.properties" />
			</bean>
		</constructor-arg>
	</bean>
	

	<bean id="propertiesConfiguration" factory-bean="&amp;commonsConfigurationFactoryBean"
		factory-method="getConfiguration" />
	<bean id="methodLoggerAdvisor" class="leon.ssi.util.LoggerAdvice" />

	<bean id="springUtil" class="leon.ssi.util.SpringUtil" />

	<aop:config>
		<aop:aspect id="originalBeanAspect" ref="methodLoggerAdvisor">
			<aop:pointcut id="loggerPointCut" expression="execution(* leon.ssi.service.impl.*.*(..))" />
			<aop:around method="aroundAdvice" pointcut-ref="loggerPointCut" />
		</aop:aspect>
	</aop:config>
    
</beans>